* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color: grey;
  border: 1px solid #cbd5dd;
}

ol {
  padding: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 220px;
  min-width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

/* Responsive */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .card img {
    max-height: 250px;
  }

  h2 {
    text-align: center;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .card img {
    max-height: 200px;
  }

  h2 {
    text-align: center;
  }

  .card p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    text-align: center;
  }

  hr {
    width: 33%;
  }

  .card img {
    max-height: 250px;
  }
}

@media screen and (min-width: 375px) and (max-width: 420px) {
  body {
    margin: 0 auto;
    max-width: 300px;
    padding: 45px;
  }

  h2 {
    text-align: center;
  }

  form {
    justify-content: center;
    display: flex;
    height: calc(10vh - 8px);
  }

  input {
    border: 1px solid #cbd5dd;
    border-radius: 2px;
    max-height: 40px;
    max-width: 250px;
    word-wrap: break-word;
    margin: 0;
    min-height: 33px;
    overflow: auto;
    position: relative;
    width: 250px;
    padding-left: 5px;
    vertical-align: top;
    box-sizing: border-box;
  }

  hr {
    width: 60%;
  }

  .card img {
    max-height: 200px;
  }

  .card p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {
  body {
    padding: 10px;
    margin: 0 auto;
    max-width: 290px;
  }

  form {
    justify-content: center;
    display: flex;
  }

  input {
    border: 1px solid #cbd5dd;
    border-radius: 2px;
    max-height: 40px;
    max-width: 250px;
    word-wrap: break-word;
    margin: 0;
    min-height: 33px;
    overflow: auto;
    position: relative;
    width: 250px;
    padding-left: 5px;
    vertical-align: top;
    box-sizing: border-box;
  }

  h2 {
    text-align: center;
  }

  hr {
    width: 60%;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .card img {
    max-height: 200px;
  }
}

@media only screen and (max-width: 280px) {
  body {
    margin: 8px;
  }

  input {
    max-width: 60%;
    margin: 15px auto;
  }

  hr {
    width: 63%;
  }

  h2 {
    font-size: 1.4rem;
  }

  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  }

  .card p {
    font-size: 0.7rem;
  }
}
